@import '../utils/basic-colours.scss';

.publish-button{
    @extend .button;
    font-weight: bold;
    position: relative;
    float: right;
    height: auto;
    margin-right: 1%;
}

.expand {
    background-color: white;
    border-color: white;
    color: gray
}

.expand:hover {
    background-color: white;
    border-color: white;
    color: gray
}

.expand:focus {
    background-color: white;
    border-color: white;
    color: gray
}

.scrollbar-dinamically {
    height: 90vh;
    overflow: scroll;
}

.scrollbar-dinamically::-webkit-scrollbar {
    display: none;
  }
  .example {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }



