@import '../utils/basic-colours.scss';

.option-button {
    @extend .button;
    font-size: xx-small;
    margin-left: 1%;
  }

.option-button:disabled {
  background-color:black;
  border-color: #2C4068
}