$hard-color:            #49426c;
$hard-hard-color:       #343355;
$disabled-hard-color:   #424253;
$soft-color:            #eec08c;
$soft-soft-color:       #d3ab7d;
$border-radius:         25px;

.background {
    background-color: $hard-color;
    color: $soft-color;
}

.contrast-background {
    background-color: #2C4068;
}

.navbar{
    background-color: $hard-hard-color;
}
.navbar-color{
    background-color:$hard-hard-color;
}

.nav-bar-text{
    color: $soft-color
}

.nav-bar-text{
    color: $soft-color
}

.card {
    background-color: $soft-color;
    border-color: $soft-color;
    border-radius: $border-radius;
    color: $hard-hard-color;
    .card-body{
        background-color: $soft-color;
        border-color: $soft-color;
        border-radius: $border-radius;
        
    }

}
