$hard-color             : #49426c;
$hard-color-hover       : #6a5fa0;
$deep-hard-color        : #343355;
$soft-color             : #eec08c;
$soft-color-hover       : #d1a879;
$deep-soft-color        : #c49d71;
$border-radius          : 25px;

.background {
    background-color: $hard-color;
    color: $soft-color;
}

.contrast-background {
    background-color: $soft-color;
    color: $hard-color
}

.navbar-color{
    background-color: $deep-hard-color;
}

.nav-bar-text{
    color: $soft-color
}

.nav-bar-text{
    color:$soft-color;
}

hr{
    border-color: $deep-hard-color;
}

.div.body{
    color: $soft-color
}

.card{
    border-radius: $border-radius;
    background-color: $deep-hard-color;
}

.card-body{
    border-radius: $border-radius;
}

.card-header{
    .btn-link{
        background-color: $deep-hard-color;
        color:$soft-color;
    }
}

.list-group{
    border-radius: $border-radius;
    .list-group-item {
        background-color: $deep-hard-color;
        color:$soft-color;
    }
}

.modal-content{
    .form-control{
        color: $hard-color;
        background-color: $hard-color;
        border-color: $hard-color;
    }
    .form-group{
        color: $hard-color;
    }
    
    .tab-content{
        background-color: $soft-color;
    }

    textarea{
        color: $soft-color;
        background-color: $deep-hard-color;
        border-color: $deep-hard-color;
    }
    
    textarea:focus, input:focus {
        color: $soft-color;
        background-color: $deep-hard-color;
        border-color: $deep-hard-color;
    }

    background-color: $hard-color;
    color:$soft-color;
    border-radius: $border-radius;
}

.tab-content-back{
    background-color: $soft-color;
}

.modal-header{
    border-bottom: $deep-hard-color;
}

.show .nav-link, .nav-tabs .nav-link.active{
    background-color: $soft-color;
    color: $hard-color;
    border-color: $deep-hard-color;
    border-bottom: $deep-hard-color;
}
.show .nav-link {
    background-color: $deep-soft-color;
    color: $hard-color;
    border-color: $deep-hard-color;
    border-bottom: $deep-hard-color;
}