

.background {
    background-color: #FCF8F0;
}

.button:hover{
    background-color: #4465a7;
}

.button:focus {     
    background-color: #2C4068;
    border-color: #2C4068  
}
.button {
    background-color: #2C4068;
    border-color: #2C4068
}

.navbar-color{
    background-color: #E3DECA;
}

.nav-bar-text{
    color: #2C4068 
}

