@import '../../utils/basic-colours.scss';
@import '../../expenses-receipt/expense-item/expense-item.scss';

.content {
  width: 100%;
}

.left {

  float: left;
  position: relative;
  height: auto;
}

.right {
  font-weight: bold;
  position: relative;
  float: right;
  height: auto;
}

.btn-link{
  width: 100%;
  color: black;
}
  
.total{
  margin-top: 1%;
  background-color: #64d37e;
}

.card-details {
  padding-right: 0.5%;
  padding-left: 0.5%;
  width: 99%;
  white-space: 'pre-line';
}

.amount-detail {
  margin-bottom: 8%;
}

.add-local-button {
  @extend .button;
  font-size: small;
}

.my-dropdown {
  @extend .button;
}

.generate-button {
  @extend .add-button;
  font-size: small;
}

