.expenses-receipt{

  }

.content {
  width: 100%;
}

.left {

  float: left;
  position: relative;
  height: auto;
}

.right {
  font-weight: bold;
  position: relative;
  float: right;
  height: auto;
}

.btn-link{
  width: 100%;
  color: black;
}
  
.total{
  margin-top: 1%;
  background-color: chartreuse;
}

.card-details{
  padding-right: 0.5%;
  padding-left: 0.5%;
  width: 99%;
}

.amount-detail{
  margin-bottom: 1%;
}