.badge.badge-success{
    background-color:#29a039;
    color: white
}

.badge.badge-danger{
    background-color:#fd624d;
    color: white
}

.pay-button {
    background-color:#2C4068;
    color: white;
    border-color: #2C4068
}

.pay-button:hover {
    background-color:#2C4068;
    color: white;
    border-color: #2C4068
}

.pay-button:focus {     
    background-color:#2C4068;
    color: white;
    border-color: #2C4068 
}
