@import '../utils/basic-colours.scss';

.badge.badge-success{
    background-color:#29a039;
    color: white
}

.badge.badge-danger{
    background-color:#fd624d;
    color: white
}

.pay-button {
    background-color:#2C4068;
    color: white;
    border-color: #2C4068
}

.pay-button:hover {
    background-color:#2C4068;
    color: white;
    border-color: #2C4068
}

.pay-button:focus {     
    background-color:#2C4068;
    color: white;
    border-color: #2C4068 
}

.payment-content{
    hr {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        border: 0;
        
        border-top: 1px solid rgba(0,0,0,.1);
    }
}