@import '../utils/basic-colours.scss';

.right {
  font-weight: bold;
  position: relative;
  float: right;
  height: auto;
}
.navbar {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important
}
.navbar-light .navbar-nav .selected.nav-link {
  font-weight: 600;
  color: #24375c
}

.navbar-light .navbar-nav .selected.nav-link:focus, .navbar-light .navbar-nav .selected.nav-link:hover {
  font-weight: 600;
  color: #24375c
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  font-weight: 600;
  color: #5278c5
}
.navbar-light .navbar-nav .nav-link{
  @extend .nav-bar-text;
}

.basic-navbar-nav{
  .navbar-expand {
    @extend .navbar-color;
  }
  .nav-link{
    display: block;
   
    .a{
      @extend .nav-bar-text;
    }
  }
  .user-icon{
    @extend .nav-bar-text;
    
    .dropdown-toggle::after {
      border-right:0;
      border-left:0
    }
  }
}
.secondary-navbar-nav{
  background-color: #eee9d5;
}

img{
  margin-right: 10%;
  margin-left: 3%;
}
