@import '../utils/basic-colours.scss';

.navbar {
    @extend .navbar-color;
}

.nav-link{
  display: flex;
}

.right {
  font-weight: bold;
  position: relative;
  float: right;
  height: auto;
}

.user-icon{
  @extend .nav-bar-text;
}

.navbar-light .navbar-nav .nav-link{
  @extend .nav-bar-text;
}

.dropdown-toggle::after {
  border-right:0;
  border-left:0
}

img{
  margin-right: 10%;
  margin-left: 3%;

}