@import '../utils/basic-colours.scss';

.consortium-dropdown{
    .btn-success{
        border-color: #2C4068;
        background-color: #E3DECA;
        color: #2C4068; 
        border-radius: 0rem;
        width: 200px;
        text-align: inherit;
    }

    .btn-success.focus, .btn-success:focus {
        box-shadow: 0 0 0 .2rem rgba(44, 64, 104,0);
    }
    .btn-success.active, .btn-success:active {
        box-shadow: 0 0 0 .2rem rgba(44, 64, 104,0);
    }

    .btn-success.dropdown-toggle {
        border-color: #2C4068;
        background-color: #E3DECA;
        color: #2C4068; 
        box-shadow: 0 0 0 .2rem rgba(44, 64, 104,0);
    }

    .btn-success.dropdown-toggle.active, .btn-success.dropdown-toggle:active {
        border-color: #2C4068;
        background-color: #E3DECA;
        color: #2C4068; 
        box-shadow: 0 0 0 .2rem rgba(44, 64, 104,0);
    }

    .btn-success.dropdown-toggle.focus, .btn-success.dropdown-toggle:focus {
        box-shadow: 0 0 0 .2rem rgba(44, 64, 104,0);
    }

    .dropdown-item.active, .dropdown-item:active {
        color: #fff;
        text-decoration: none;
        background-color: #2C4068;
    }
}

.navbar-expand .navbar-nav .consortium-menu.dropdown-menu {
    position: absolute;
    width: 200px;
}