@import '../utils/basic-colours.scss';

.consortium-dropdown{
    .btn-success{
        border-color: #2C4068;
        background-color: #E3DECA;
        color: #2C4068; 
        border-radius: 0rem;
        width: 200px;
        text-align: inherit;
    }
}