@import '../utils/basic-colours.scss';

.login-background {
    @extend .contrast-background;
    max-width: 100%;
    height: 100vh;

    .card-body{
        padding: 0 !important;
    }

    .my-card.card{
        padding: 1.25rem;
        @extend .background;
    }
}

.cancel-button{
    float: right
}

.imagen-login{
    margin-left: 0%;
    width: 3px;
}