@import '../../utils/basic-colours.scss';

.badge.badge-dark{
    background-color: $hard-color;
    color: white;
}

.expenses-card-header{
    padding: 0%;
}

.my-total{
    .MuiCardContent-root{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.expense-detail-content{
    font-size: smaller;
}