

.badge.badge-dark{
    background-color:#2C4068;
    color: white
}

.card-header-button{

}
.expenses-card-header{
    padding: 0%;
}

.my-total{
    .card-body{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.card-expenses-detail{
    font-size: smaller;
}